@import "~scss_path/colors";
@import "~scss_path/fonts";

.groupsList {
	height: inherit;
	flex: 0 0 auto;	
	list-style-type: none;
	padding-left: 0;
    display: flex;
	flex-direction: column;
	width: auto;
	overflow:hidden; 
	margin-bottom: 0;
	margin-top: 0;
	overflow-y:scroll;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;  /* IE 10+ */
	&::-webkit-scrollbar {
		width: 0px;
		background: transparent; /* Chrome/Safari/Webkit */
	}
    & > li {
      display: flex;
	  height: 50px;
	  flex-direction: row;
	  margin-bottom: 7px;
    }
    & > li:first-child {
      margin-top: 10px;
	}
	& > li:nth-child(even){
		background: $white;
		color: $grayDark;
	}
	& > li:nth-child(odd){
		background: $white;
		color: $grayDark;
	}
}

.groupsItem{
	&__default{
		&--label{
			font-size: 19px;
			font-weight: $medium;
			color: $grayDark;
			text-decoration: none;
			padding-left: 25px;
			color: inherit;
			height: 100%;
			display: flex;
			align-items: center;
		}
		&--button{
			border: none;
			width: 100%;
			background-color: inherit;
			padding-left: 0;
			padding-right: 0;
			display: flex;
			flex-direction: row;
			justify-content: left;
		}
		&--button:focus{
			outline: none;
		}
		&--button:hover{
			background-color: $backgroundOnHover;
		}
		&--pin:before{
			display: flex;
			align-items: center;
			float: right;
			font-family: FontAwesome;
			font-size: 33px;
			content:"\f041";
			padding-left: 20px;
			padding-top: 7px;
		}
	}
 	&__active {
		display: flex;
		height: 150px;
		flex-direction: column;
		margin-bottom: 7px;
		background: $blue;
		color: $grayDark;
			&--label{
				font-size: 19px;
				font-weight: $medium;
				color: $grayDark;
				text-decoration: none;
				padding-left: 25px;
				color: inherit;
				height: 100%;
				display: flex;
				align-items: center;
			}
			&--button{
				height: 50px;
				border: none;
				width: 100%;
				background-color: inherit;
				padding-left: 0;
				padding-right: 0;
				display: flex;
				flex-direction: row;
				justify-content: left;
				border-bottom: 3px solid;
			}
			&--button:focus{
				outline: none;
			}
			&--button:hover{
				background-color: $backgroundOnHover;
			}
			&--pin:before{
				display: flex;
				align-items: center;
				float: right;
				font-family: FontAwesome;
				font-size: 33px;
				content:"\f041";
				padding-left: 20px;
				padding-top: 7px;
			}
			&--menu {
				display: flex;
				padding-left: 70px;
				flex-direction: column;
			}
		}
	}

.ridesAddRideForm {
	display: flex;
	background-color: $white;
	width: 100%;
	min-height: 93vh;
	justify-content: space-between;

	&__rangeContainer{
		display: flex;
		flex-direction: row;
		background-color: $white;
		min-height: 50px;
		width: 100%;
		justify-content: flex-start;
		padding-left: 50px;
		align-items: center;
		margin-bottom: 15px;
		&--numberOfWeeks{
			font-size: 22px;
			font-weight: $bold;
			padding-left: 10px;
			padding-right: 15px;
			color: $blue;
		}
	}
		&__checkboxContainer{
			width: 100%;
			display: flex;
			padding: 5px;
			flex-wrap: wrap;
			margin-bottom: 15px;
			background-color: $white;
			align-items: center;
			padding-left: 20px;
			justify-content: flex-start;
			& > span {
				margin-left: 10px;
				margin-right: 20px;
				font-size: 16px;
				font-weight: $medium;
				color: $grayDark;
			}
		}
		&__switchActive{
			font-weight: $semi-bold !important;
			font-size: 17px !important;
		}
		&__checkboxLabel{
			width: 100%;
			padding-top: 10px;
			font-size: 14px;
			font-weight: $medium;
			color: $grayDark;
			padding-left: 30px;
			background-color: $white;
		}
		&__datePicker{
			width: 100%;
			background-color: $white;
			margin-top: 0px !important;
			margin-bottom: 15px !important;
		}
		&__inputs {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			min-height: 620px;
		}
		&__input{
			margin-bottom: 0px;
		}
		&__button {
			margin-top: 5px;
			margin-bottom: auto;
		}
		&__daysContainer{
			padding-left: 7%;
			width: 93%;
			display: flex;
			flex-direction:row;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			margin-bottom: 10px;
			&--column{
				width: 48%;
				display: flex;
				flex-direction: column;
			}
		}
	}
//Custom styles for date time controls 
.MuiTypography-body1{
	color: $grayDark !important;
	font-family: "Montserrat" !important;
	font-size: 15px !important;
	font-weight: $medium !important;
}
.MuiFormLabel-root.Mui-focused {
	color: $grayDark !important;
}
.MuiFormControlLabel-root{
	margin-right: 0 !important;
}
.MuiFormLabel-root {
	padding-top: 7px !important;
	color: $grayDark !important;
	padding-left: 17px !important;
	font-size: 18px !important;
	font-weight: $medium !important;
	position: relative !important;
	font-family: "Montserrat" !important;
}
.MuiInputBase-root{
	margin-top: 2px !important;
	color: $grayDark!important;
	padding-left: 15px !important;
	font-family: "Montserrat" !important;
	font-size: 17px !important;
}
.MuiInputBase-inputAdornedEnd{
	padding: 2px !important;
}
.MuiInput-underline::before {
	border-bottom: 0px solid $grayDark !important;
}
.MuiInput-underline::after {
	border-bottom: 2px solid $blue !important;
}
.MuiInput-underline:hover:not(.Mui-disabled)::before{
	border-bottom: 2px solid $grayDark !important;
}
.MuiInputAdornment-positionEnd{
	& > button {
		margin-bottom: 30px !important;
	}
}
.MuiFormHelperText-root.Mui-error{
	color: $red !important;
	font-size: 14px !important;
	font-weight: $medium !important;
	font-family: "Montserrat" !important;
	padding-left: 20px;
}

.ridesAddRideFormMapBox {
	background-color:$background;
	width: 65%;
	margin-left: 7px;
	margin-top: 7px;
	margin-bottom: 7px;
}
.ridesAddRideFormLeftContainer {
	padding-top: 15px;
	margin-top: 7px;
	margin-bottom: 7px;
	background-color: $background;
	width: 100%;
	& > hr {
		color: $grayDark;
		border-width:2px;
		margin-left: 5%;
		margin-right: 5%;
	}
}
.ridesAddRideFormButtonsContainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	padding-left: 5%;
	padding-bottom: 2%;
	gap:3%;
	&--outline{
		background-color: $white;
		height: 7px;
		margin-bottom: 10px;
	}
	&--label{
		color: $grayDark;
		font-size: 18px;
		font-weight: $medium;
		width: 100%;
		padding-top: 7px;
		padding-bottom: 10px;
		text-align: center;
		& > span{
			font-weight: $semi-bold;
		}
	}
}
.ridesAddRideFormButtonActive{
	background-color: $blue;
	color: $white;
	&:hover{
		background-color: $blueOnHover;
	}
}
@media only screen and (max-width: 900px) {
	.ridesAddRideForm {
		display: flex;
		background-color: $white;
	}	
	.ridesAddRideFormLeftContainer {
		padding-top: 10px;
		width: 100%;
		margin-top: 5px;
	}
	.ridesAddRideFormButtonsContainer {
		justify-content: center;
		padding-left: 0;
		gap:3%;
		&--outline{
			height: 5px;
		}
	}
}
	
