@import "~scss_path/colors";

.loaderSplash {
	position: absolute;
	z-index: 9999;
	background-color: $graySemiTransparent;
	display: flex;
	align-items: center;
	overflow: hidden;
	justify-content: center;
	&--fullScreen {
		width: 100%;
		height: 100%;
	}
}
