.groupsManagement {
  display: flex;
  padding: 48px;
  flex: 1 1 auto;
  &__listPanel {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    align-items: center;
    justify-content: center;
    & > hr {
      margin: 16px 0;
      width: 75%;
    }
  }
  &__map {
    flex: 2;
    align-self: center;
    & > img {
      width: 100%;
    }
  }
}

.groupList {
  &__buttons {
    display: flex;
    flex-direction: row;
    & > button,
    > a {
      margin: 16px;
    }
  }
  &__list {
    list-style-type: none;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    & > li {
      display: flex;
      height: 40px;
      margin-bottom: 10px;
    }
    & > li:first-child {
      margin-top: 10px;
    }
  }
}
