.groupsManagement {
    display: flex;
    padding: 48px;
    &__listPanel {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        padding: 16px 0;
        align-items: center;
        justify-content: center;
        & > hr {
            margin: 16px 0;
            width: 75%;
        }
    }
    &__map {
        flex: 4 4 auto;
    }
}

.groupList {
    &__buttons {
        & > button,
        > a {
            margin: 16px;
        }
    }
    &__list {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
