@import "~scss_path/colors";
@import "~scss_path/fonts";
@import "~scss_path/images";

.loadingScreen {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  &__map {
    background-image: $map;
    width: 100%;
    height: 650px;
    left: 0;
    right: 0;
    display: block;
    border: none;
    background-repeat: no-repeat;
    background-size: auto auto;
    flex: 1 1 auto;
  }
  &__quote {
    right: 0;
    float: right;
    margin-right: 100px;
    width: 700px;
    text-align: right;
    font-size: 150px;
    font-weight: $bold;
    color: $green;
  }
  &__groups{
    width: 100%;
    height: fit-content;
    background-color: $green;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap-reverse;

    &--button{
      
      justify-content: center;
      align-items: center;

    }
  
    &--baner{
      flex: 2;
      justify-content: right;
      align-items: center;
      object-fit: contain;
    } 
  }
}
@media only screen and (max-width: 700px) {
  .loadingScreen {
    &__quote {
      font-size: 120px;
      width: 499px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .loadingScreen {
    flex: 1 1 auto;
    display: flex;
    &__map {
      height: 90vh;
    }
    &__quote {
      padding-top: 5vh;
      font-size: 90px;
      width: 97%;
      float: none;
    }
  }
}
