@import "../../assets/colors.scss";
@import "../../assets/fonts.scss";
@import "../../assets/images.scss";

.map {
  background-image: $map;
  width: 100%;
  height: 650px;
  left: 0;
  right: 0;
  display: block;
  border: none;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.quote {
  right: 0;
  float: right;
  margin-right: 100px;
  width: 700px;
  text-align: right;
  font-size: 150px;
  font-weight: $bold;
  color: $green;
}
@media only screen and (max-width: 900px) {
  .quote {
    padding-top: 50px;
    font-size: 70px;
    margin-right: 30px;
    width: 100%;
    float: none;
  }
  .map {
    height: 600px;
  }
}
