@import "~scss_path/variables";
@import "~scss_path/colors";

$ruleListPadding: 0 0 0 16px;
$iconSize: 20px;
$iconMargin: -$iconSize;
$itemMarginBottom: 6px;

.passwords {
	&__ruleList {
		padding: $ruleListPadding;
		list-style: none;
	}
	&__ruleListItem {
		padding-left: $iconSize;
		margin-bottom: $itemMarginBottom;
		&:before {
			font-family: "FontAwesome";
			display: inline-block;
			margin-left: $iconMargin;
			width: $iconSize;
		}
		&--notSatisfied {
			color: $red;
			&:before {
				content: "\f057";
			}
		}
		&--satisfied {
			&:before {
				content: "\f058";
			}
			color: $greenDark;
		}
	}
}
