@import "~scss_path/colors";
@import "~scss_path/fonts";

.input {
	&__container {
		width: 100%;
		height: 40px;
		background-color: $white;
		display: flex;
		margin-bottom: 15px;
		&--invalid {
			border-bottom: 3px solid $red;
			margin-bottom: 5px;
			width: 100%;
			height: 40px;
			background-color: $white;
			display: flex;
		}
		&--address {
			border-bottom: 3px solid $blue;
			width: 100%;
			height: 40px;
			background-color: $white;
			display: flex;
		}
	}
	&__groupContainer {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	&__input {
		font-size: 17px;
		border: 0;
		width: inherit;
		height: 100%;
		color: $grayDark;
		font-weight: $medium;
		background: $transparent;
		padding-left: 25px;
		&--invalid {
			font-size: 17px;
			border: 0;
			width: inherit;
			height: 100%;
			color: $grayDark;
			font-weight: $medium;
			background: $transparent;
			padding-left: 25px;
			&::placeholder{
				color:  $gray;
			}
			&:focus{
				outline: none;
			}
		}
	}
	&__checkbox{
		font-size: 15px;
		border: 0;
		width: inherit;
		height: 100%;
		color: $grayDark;
		font-weight: $regular;
		background: $transparent;
		display: flex;
		justify-content: flex-start;
		align-content: center;
		&--box{
			height: 25px;
			width: 25px;
			&:focus{
				outline: none;
			}
		}
		& > span {
			padding-left: 10px;
			margin-top: auto;
			margin-bottom: auto;
		}
	}
	&__comment {
		font-size: 14px;
		max-width: 80%;
		text-align: center;
		text-justify: auto;
	}
	&__address{
		background-color: $white;
		font-size: 18px;
		font-weight: $regular;
		padding-top: 10px;
		padding-bottom: 5px;
		padding-left: 30px;
		margin-bottom: 3px;
		color: $grayDark;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		&:hover{
			cursor: pointer !important;
		}	
	}
	&__icon {
		height: 32px;
		margin-top: 10px;
		color: $grayDark;
		&::before {
			font-family: FontAwesome;
			font-size: 22px;
			background-color: $transparent;
			align-content: center;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 15px;
		}
		&--user::before {
			content: "\f2bc";
		}
		&--globe::before {
			content: "\f0ac";
		}
		&--code::before {
			content: "\f1b2";
		}
		&--location::before {
			content: "\f124";
		}
		&--mail::before {
			content: "\f003";
		}
		&--password::before{
			content:"\f084";
		}
	}
	&__input::placeholder {
		font-weight: $medium;
		font-size: 17px;
		color: $gray;
	}
	&__input:focus {
		outline: none;
	}
	&__invalidText {
		color: $red;
		margin: 0 16px 0 16px;
		padding-bottom: 10px;
	}
	&__password{
		height: 32px;
		margin-top: 10px;
		color: $grayDark;
	}
	&__password::before{
		content:"\f023";
		font-family: FontAwesome;
		font-size: 22px;
		background-color: $white;
		align-content: center;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 15px;
	}
}
