@import "~scss_path/colors";
@import "~scss_path/fonts";


.input {
	&__container{
		width: 100%;
		height: 40px;
		display: flex;
	}
	&__input{
		font-size: 17px;
		border: 0;
		width: inherit;
		height: 100%;
		color: $grayDark;
		font-weight: $medium;
		background: $white;
		padding-left: 25px;
	}
    &__comment {
        font-size: 14px;
        max-width: 80%;
        text-align: center;
        text-justify: auto;
	}
	&__input::placeholder{
		font-weight: $medium;
		font-size: 17px;
		color: $grayDark;
	}
	&__input:focus{
		outline: none;
	}
	&__user{
		height: 32px;
		margin-top: 10px;
		color: $grayDark;
	}
	&__user::before{
		content:"\f2bc";
		font-family: FontAwesome;
		font-size: 22px;
		background-color: $white;
		align-content: center;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 15px;
	}
	&__globe{
		height: 32px;
		margin-top: 10px;
		color: $grayDark;
	}
	&__globe::before{
		content:"\f0ac";
		font-family: FontAwesome;
		font-size: 22px;
		background-color: $white;
		align-content: center;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 15px;
	}
	&__code{
		height: 32px;
		margin-top: 10px;
		color: $grayDark;
	}
	&__code::before{
		content:"\f1b2";
		font-family: FontAwesome;
		font-size: 22px;
		background-color: $white;
		align-content: center;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 15px;
	}
	&__location{
		height: 32px;
		margin-top: 10px;
		color: $grayDark;
	}
	&__location::before{
		content:"\f124";
		font-family: FontAwesome;
		font-size: 22px;
		background-color: $white;
		align-content: center;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 15px;
	}
	&__mail{
		height: 32px;
		margin-top: 10px;
		color: $grayDark;
	}
	&__mail::before{
		content:"\f003";
		font-family: FontAwesome;
		font-size: 22px;
		background-color: $white;
		align-content: center;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 15px;
	}
	&__password{
		height: 32px;
		margin-top: 10px;
		color: $grayDark;
	}
	&__password::before{
		content:"\f023";
		font-family: FontAwesome;
		font-size: 22px;
		background-color: $white;
		align-content: center;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 15px;
	}
}
