$android-img: url("../../assets/img/android.png");
$ios-img: url("../../assets/img/ios.png");
$logo-small: url("../../assets/img/logo_small.png");
$logo-big: url("../../assets/img/logo_big.png");
$facebook-ico: url("../../assets/img/facebook_ico.png");
$twitter-ico: url("../../assets/img/twitter_ico.png");
$instagram-ico: url("../../assets/img/instagram_ico.png");
$map: url("../../assets/img/loadingMap.png");
