$background: #efeeee;
$gray: #bababa;
$grayDark: #707070;
$grayVeryDark: #222f3e;
$yellow: #feca57;
$green: #1dd1a1;
$greenDark: #10ac84;
$red: #ee5253;
$blue: #54a0ff;
$orange: #ff9f43;
$purple: #5f27cd;
