$background: #efeeee;
$backgroundOnHover: #e6e3e3;
$backgroundTransparent: #efeeee80;
$gray: #bababa;
$graySemiTransparent: #bababa4f;
$grayDark: #707070;
$grayVeryDark: #222f3e;
$yellow: #feca57;
$green: #1dd1a1;
$greenDark: #10ac84;
$red: #ee5253;
$blue: #6b98d1;
$blueOnHover: #4a90e8;
$orange: #ff9f43;
$purple: #5f27cd;
$white: #ffffff;
$black: #000000;
$transparent: #00000000;
