$apple-store: url("~assets_path/img/ios.png");
$google-store: url("~assets_path/img/googlePlayARAB.png");
$logo-small: url("~assets_path/img/logo_small.png");
$logo-big: url("~assets_path/img/logo_big.png");
$facebook-ico: url("~assets_path/img/facebook.png");
$twitter-ico: url("~assets_path/img/twitter.png");
$instagram-ico: url("~assets_path/img/instagram.png");
$map: url("~assets_path/img/map_large.png");
$groups-flat-people: url("~assets_path/img/groupsFlatImage.jpg");
$reports-flat-people: url("~assets_path/img/reportsFlatImage.jpg");
$rides-flat-people: url("~assets_path/img/ridesFlatImage.jpg");
$register-flat-people: url("~assets_path/img/registerFlatImage.jpg");
$login-flat-people: url("~assets_path/img/loginFlatImage.jpg");
