$android-img: url("~assets_path/img/android.png");
$ios-img: url("~assets_path/img/ios.png");
$logo-small: url("~assets_path/img/logo_small.png");
$logo-big: url("~assets_path/img/logo_big.png");
$facebook-ico: url("~assets_path/img/facebook_ico.png");
$twitter-ico: url("~assets_path/img/twitter_ico.png");
$instagram-ico: url("~assets_path/img/instagram_ico.png");
$map: url("~assets_path/img/map_large.png");
$groups-flat-people: url("~assets_path/img/groupsFlatImage.jpg");
$reports-flat-people: url("~assets_path/img/reportsFlatImage.jpg");
$rides-flat-people: url("~assets_path/img/ridesFlatImage.jpg");

